<__trans phrase="[_1] registered to the Movable Type" params="<$mt:var name="nickname"$>>
<__trans phrase="This email is to notify you that a new user has successfully registered on the blog '[_1]'. Here is some information about this new user." params="<$mt:BlogName$>">

<__trans phrase="New User Information:">
<__trans phrase="Username: [_1]" params="<$mt:Var name="name"$>"> 
<__trans phrase="Full Name: [_1]" params="<$mt:Var name="nickname"$>">
<__trans phrase="Email: [_1]" params="<$mt:Var name="email"$>">

<__trans phrase="To view or edit this user, please click on or cut and paste the following URL into a web browser:">
<$mt:Var name="profile_url"$>
