<__trans_section component="Developer"><__trans phrase="[_1] registered to the Movable Type" params="<$mt:var name="nickname"$>></__trans_section>
<__trans_section component="Developer">
<__trans phrase="This email is to notify you that a new user has successfully registered to the Movable Type. Here is some information about this new user.">

<__trans phrase="New User Information:">
<__trans phrase="Username: [_1]" params="<$mt:var name="name"$>"> 
<__trans phrase="Full Name: [_1]" params="<$mt:var name="nickname"$>">
<__trans phrase="Email: [_1]" params="<$mt:var name="email"$>">

<__trans phrase="To view or edit this user, please click on or cut and paste the following URL into a web browser:">
<$mt:Var name="profile_url"$>

</__trans_section>