<mtapp:setting
    id="developer_signup_notify_to"
    label="<__trans phrase="Sign Up Notify Send To">">
<ul><li><input type="text" id="developer_signup_notify_to" name="developer_signup_notify_to" style="width:100%" value="<mt:var name="developer_signup_notify_to" escape="html">" />
</li></ul>
</mtapp:setting>