<mt:setvarblock name="page_title"><__trans phrase="Export Plugin"></mt:setvarblock>
<mt:include name="include/chromeless_header.tmpl">

  <mtapp:statusmsg
     id="generic-message"
     class="success"
     can_close="0">
     <__trans phrase="Export Plugin...">
  </mtapp:statusmsg>

<div style="text-align:center;margin-top:1em">
  <button class="button" onclick="window.close();"><__trans phrase="Close"></button>
</div>
<mt:include name="include/chromeless_footer.tmpl">
