<__trans_section component="Developer">
<mt:setvarblock name="html_title"><mt:var name="plugin_name" escape="html"> - <__trans phrase="Export Plugin"></mt:setvarblock>
<mt:setvarblock name="page_title"><__trans phrase="Export Plugin"></mt:setvarblock>

<mt:setvar name="edit_screen" value="1">
<mt:setvarblock name="system_msg">
        <mtapp:statusmsg
            id="export_mtmljobs">
            <__trans phrase="Enter information of your plugin and click 'Export'.">
        </mtapp:statusmsg>
</mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
</mt:setvarblock>

<mtIgnore>
<mt:setvarblock name="related_content">
<mtapp:widget
   id="useful-link-widget"
   class="status-widget"
   label="<__trans phrase="Links">">
    <ul>
    <li><a a class="icon-left icon-related" href="<__trans phrase="__DeveloperGuideURL">" target="_blank"><__trans phrase="__DeveloperGuide"></a></li>
    <li><a a class="icon-left icon-related" href="<mt:var name="script_url">?__mode=cfg_plugins&blog_id=0" target="_blank"><__trans phrase="System"><mt:if name="language_id" ne="ja"> </mt:if><__trans phrase="Plugin Settings"></a></li>
    <li><a a class="icon-left icon-related" href="<mt:var name="script_url">?__mode=list&_type=log&blog_id=0" target="_blank"><__trans phrase="System"><mt:if name="language_id" ne="ja"> </mt:if><__trans phrase="Log"></a></li>
    <mt:loop name="app_links">
        <li><a class="icon-left icon-related" href="<mt:var name="link_url" escape="html">" target="_blank"><mt:var name="link_label" escape="html"></a></li>
    </mt:loop>
    </ul>
</mtapp:widget>
</mt:setvarblock>
</mtIgnore>

<mt:include name="include/header.tmpl">
<form method="post" action="<mt:var name="script_url">" id="mtmljobs_form" target="export_plugin">
    <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />
    <input type="hidden" name="__mode" value="<mt:if name="export_type" eq="schema">customschemas_to_plugin<mt:else><mt:if name="list_action">mtmljobs_to_plugin<mt:else>mtmljob_export_plugin</mt:if></mt:if>" />
    <input type="hidden" name="_type" value="do_export" />
    <input type="hidden" name="return_args" value="<mt:if name="return_args"><mt:var name="return_args" escape="html"><mt:else>__mode=list&amp;_type=mtmljob&amp;blog_id=0</mt:if>" />
<h2><__trans phrase="Plugin Settings"></h2>

<fieldset>
    <mtapp:setting
        id="plugin_name"
        label_class="left-label"
        label="<__trans phrase="Name">"
        show_hint="0"
        show_label="1">
    <input type="text" name="plugin_name" id="plugin_name" placeholder="<__trans phrase="Name">" class="text full-width" value="<mt:var name="plugin_name" escape="html">" />
    </mtapp:setting>
    <mtapp:setting
        id="plugin_id"
        label_class="left-label"
        label="<__trans phrase="ID">"
        label_class="left-label"
        show_hint="0"
        show_label="1">
    <input type="text" name="plugin_id" id="plugin_id" class="text path" value="<mt:var name="plugin_id" escape="html">" />
    </mtapp:setting>

<mt:if name="schema_count" eq="1">
<mt:loop name="schemas_loop">
<mt:setvar name="plugin_author_link" value="$_author_link">
<mt:setvar name="plugin_author_name" value="$_author_name">
<mt:setvar name="plugin_description_lang" value="$_description_lang">
<mt:setvar name="plugin_description" value="$_description">
<mt:setvar name="plugin_description_lang" value="$_description_lang">
<mt:setvar name="plugin_schema_version" value="$_schema_version">
</mt:loop>
</mt:if>

    <mtapp:setting
        id="plugin_author"
        label_class="left-label"
        label="<__trans phrase="Author Name">"
        label_class="left-label"
        show_hint="0"
        show_label="1">
    <input type="text" name="plugin_author_name" id="plugin_author_name" class="text path" value="<mt:var name="plugin_author_name" escape="html">" />
    </mtapp:setting>
    <mtapp:setting
        id="plugin_author"
        label_class="left-label"
        label="<__trans phrase="Author Link">"
        label_class="left-label"
        show_hint="0"
        show_label="1">
    <input type="text" name="plugin_author_link" id="plugin_author_link" class="text med" value="<mt:var name="plugin_author_link" escape="html">" />
    </mtapp:setting>

    <mtapp:setting
        id="plugin_version"
        label_class="left-label"
        label="<__trans phrase="Version">"
        label_class="left-label"
        show_hint="0"
        show_label="1">
    <input type="text" name="plugin_version" id="plugin_version" class="text path" value="<mt:var name="plugin_version" escape="html">" />

<mt:if name="export_type" eq="schema">
    &nbsp;<label><__trans phrase="Schema Version"> <input type="text" name="plugin_schema_version" id="plugin_schema_version" class="text path" value="<mt:var name="plugin_schema_version" escape="html">" /></label>
</mt:if>

    </mtapp:setting>
    <mtapp:setting
        id="plugin_description"
        label_class="left-label"
        label="<__trans phrase="Description">"
        show_hint="0"
        show_label="1">
    <div><input type="text" name="plugin_description" id="plugin_description" class="text full-width" placeholder="en_us" value="<mt:var name="plugin_description" escape="html">" /></div>

<mt:if name="language_id">
    <div style="margin-top:10px">
    <input type="text" name="plugin_description_lang" id="plugin_description_lang" class="text full-width" placeholder="<mt:var name="language_id">" value="<mt:var name="plugin_description_lang" escape="html">" />
    </div>
</mt:if>
    </mtapp:setting>

    <mt:if name="include_task">
    <mtapp:setting
        id="plugin_task_label"
        label_class="left-label"
        label="<__trans phrase="Task Label">"
        label_class="left-label"
        show_hint="0"
        show_label="1">
    <div><input type="text" name="plugin_task_label" id="plugin_task_label" class="text med" placeholder="en_us" value="<mt:var name="plugin_task_label" escape="html">" /></div>

<mt:if name="language_id">
    <div style="margin-top:10px">
    <input type="text" name="plugin_task_label_lang" id="plugin_task_label_lang" class="text med" placeholder="<mt:var name="language_id">" value="<mt:var name="plugin_task_label_lang" escape="html">" />
    </div>
</mt:if>
    </mtapp:setting>
    </mt:if>

<mt:if name="export_type" eq="schema">
<h2><__trans phrase="Export Schemas"></h2>
<mt:loop name="schemas_loop">
    <mt:if name="__first__"><table class="legacy listing-table expanded">
    <thead>
    <tr>
        <th style="padding:2px;" class="col head title primary"><span class="col-label"><__trans phrase="Module"></span></th>
        <th style="padding:2px;width:136px" class="col head"><span class="col-label"><__trans phrase="Class Label"></span></th>
        <th style="padding:2px;width:136px" class="col head"><span class="col-label"><__trans phrase="Listing"></span></th>
    </tr>
    </thead>
    </mt:if>
    <tr>
        <td style="padding:4px 8px;"><mt:var name="plugin_id" escape="html">::<mt:var name="module_id" escape="html"></td>
        <td style="padding:4px 8px;"><mt:var name="label" escape="html"></td>
        <td style="padding:4px 8px;"><mt:if name="haslist"><__trans phrase="Enabled"></mt:if></td>
    </tr>
    <mt:if name="__last__"></table></mt:if>
</mt:loop>

<mt:loop name="schemas_loop">
    <input type="hidden" name="id" value="<mt:var name="id">" />
</mt:loop>

<mt:else>
<h2><__trans phrase="Export Handlers"></h2>
    <mtapp:setting
        id="plugin_task_list"
        label_class="left-label"
        label="<__trans phrase="Custom Handlers">"
        label_class="left-label"
        show_hint="0"
        show_label="1">
<div>
    <mt:loop name="job_loop">
    <mt:if name="__first__"><table class="legacy listing-table expanded">
    <thead>
    <tr>
        <th style="padding:2px;" class="col head title primary"><span class="col-label"><__trans phrase="Name"></span></th>
        <th style="padding:2px;width:136px" class="col head"><span class="col-label"><__trans phrase="Execution Type"></span></th>
        <th style="padding:2px;width:48px" class="col head"><span class="col-label"><__trans phrase="Priority"></span></th>
        <th style="padding:2px;width:228px" class="col head primary"><span class="col-label"><__trans phrase="Detail"></span></th>
    </tr>
    </thead>
    </mt:if>
    <tr>
        <td style="padding:4px 8px;"><mt:var name="title" escape="html"></td>
        <td style="padding:4px 8px;"><mt:var name="interval_text" trim_to="12+..." escape="html"></td>
        <td style="padding:4px 8px;"><mt:var name="priority" escape="html"></td>
        <td style="padding:4px 8px;"><mt:var name="detail" trim_to="32+..." escape="html"></td>
    </tr>
    <mt:if name="__last__"></table></mt:if>
    </mt:loop>
</div>
    <mt:loop name="job_loop">
        <mt:if name="list_action">
        <input type="hidden" name="id" value="<mt:var name="id">" />
        <mt:else>
            <input type="hidden" name="export_detail" value="<mt:var name="detail" escape="html">" />
            <input type="hidden" name="export_text" value="<mt:var name="text" escape="html">" />
            <input type="hidden" name="export_evalscript" value="<mt:var name="evalscript" escape="html">" />
            <input type="hidden" name="export_tagkind" value="<mt:var name="tagkind" escape="html">" />
            <input type="hidden" name="export_text_php" value="<mt:var name="text_php" escape="html">" />
            <input type="hidden" name="export_priority" value="<mt:var name="priority" escape="html">" />
            <input type="hidden" name="export_app_ref" value="<mt:var name="app_ref" escape="html">" />
            <input type="hidden" name="export_is_default" value="<mt:var name="is_default" escape="html">" />
            <input type="hidden" name="export_basename" value="<mt:var name="basename" escape="html">" />
            <input type="hidden" name="export_interval" value="<mt:var name="interval" escape="html">" />
            <input type="hidden" name="export_nextrun_on" value="<mt:var name="nextrun_on" escape="html">" />
            <input type="hidden" name="export_title" value="<mt:var name="title" escape="html">" />
            <input type="hidden" name="export_requires_login" value="<mt:var name="requires_login" escape="html">" />
            <!--export_plugin_id-->
        </mt:if>
    </mt:loop>
    </mtapp:setting>
</mt:if>
</fieldset>
    <button
        type="submit"
        accesskey="s"
        title="<__trans phrase="Export these Custom Handlers (s)">"
        class="save action primary-button primary button"
        onclick="
        if ( window.confirm( '<__trans phrase="Are you sure you want to export plugin?">' ) ) {
        } else {
            return false;
        }
        window.open( '<mt:var name="script_url">?__mode=export_plugin', 'export_plugin', 'width=660, height=360, menubar=no, toolbar=no, scrollbars=no' );
        setTimeout( function(){  document.getElementById( 'mtmljobs_form' ).submit(); }, 2200 );
        return false;
        "
        ><__trans phrase="Export"></button>
</form>
<mt:include name="include/footer.tmpl">
</__trans_section>