package Developer::L10N::ja;

use strict;
use base 'Developer::L10N';
use vars qw( %Lexicon );

our %Lexicon = (
    'Helper Plugin for MT Studio.' => 'MT Studioのヘルパープラグインです。',
    'Please set the environment variable AllowPerlScript.' => '環境変数 AllowPerlScript を有効にしてください。',
    'Please set the environment variable AllowCreateObject.' => '環境変数 AllowCreateObject を有効にしてください。',
    'Please set the environment variable AllowThrowSQL.' => '環境変数 AllowThrowSQL を有効にしてください。',
    'Cannot write to [_1].' => '[_1]に書き込みできません。',
    'Cannot read from [_1].' => '[_1]から読み込みできません。',
    'Cannot remove [_1].' => '[_1]を削除できません。',
    '\'[_1]\' created by \'[_2]\'' => '\'[_2]\'が\'[_1]\'を作成しました。',
    );

1;