#!/usr/bin/perl -w

use strict;
use lib $ENV{MT_HOME} ? "$ENV{MT_HOME}/lib" : 'lib';
use lib $ENV{MT_HOME} ? "$ENV{MT_HOME}/plugins/<mt:var name="plugin_id">/lib" : 'plugins/<mt:var name="plugin_id">/lib';

use MT::Bootstrap App => 'MT::App::<mt:var name="plugin_id">';
