<mt:if name="tagkind" eq="function">
    $base = dirname( dirname( __FILE__ ) );
    $base = "${base}/tmpl/handlers";
    $tmpl = "${base}/<mt:var name="mtmljob_basename">.tmpl";
    $_var_compiled = '';
    if ( is_array( $args ) ) {
        $this_tag = $ctx->this_tag();
        $this_tag = preg_replace( '/^mt/', '', $this_tag );
        foreach( $args as $key => $value ) {
            $ctx->__stash[ 'vars' ][ "${this_tag}.${key}" ] = $value;
        }
    }
    $text = file_get_contents( $tmpl );
    if (! $ctx->_compile_source( 'evaluated template', $text, $_var_compiled ) ) {
        return $ctx->error( "Error compiling text '$text'" );
    }
    ob_start();
    $ctx->_eval( '?>' . $_var_compiled );
    $_contents = ob_get_contents();
    ob_end_clean();
    return $_contents;<mt:elseif name="tagkind" eq="modifier">
    $mt = MT::get_instance();
    $ctx =& $mt->context();
    $ctx->__stash[ 'vars' ][ 'modifier_text' ] = $text;
    $ctx->__stash[ 'vars' ][ 'modifier_arg' ] = $arg;
    $base = dirname( dirname( __FILE__ ) );
    $base = "${base}/tmpl/handlers";
    $tmpl = "${base}/<mt:var name="mtmljob_basename">.tmpl";
    $_var_compiled = '';
    $text = file_get_contents( $tmpl );
    if (! $ctx->_compile_source( 'evaluated template', $text, $_var_compiled ) ) {
        return $ctx->error( "Error compiling text '$text'" );
    }
    ob_start();
    $ctx->_eval( '?>' . $_var_compiled );
    $_contents = ob_get_contents();
    ob_end_clean();
    return $_contents;<mt:else>
    $tag = $ctx->this_tag();
    $base = dirname( dirname( __FILE__ ) );
    $base = "${base}/tmpl/handlers";
    $tmpl = "${base}/<mt:var name="mtmljob_basename">.tmpl";
    if ( strpos( $tag, 'mtif' ) !== FALSE ) {
        $_var_compiled = '';
        if ( is_array( $args ) ) {
            $this_tag = $ctx->this_tag();
            $this_tag = preg_replace( '/^mt/', '', $this_tag );
            foreach( $args as $key => $value ) {
                $ctx->__stash[ 'vars' ][ "${this_tag}.${key}" ] = $value;
            }
        }
        $text = file_get_contents( $tmpl );
        if (! $ctx->_compile_source( 'evaluated template', $text, $_var_compiled ) ) {
            return $ctx->error( "Error compiling text '$text'" );
        }
        ob_start();
        $ctx->_eval( '?>' . $_var_compiled );
        $_contents = ob_get_contents();
        ob_end_clean();
        if ( strpos( $tag, 'mtif' ) !== FALSE ) {
            if ( $_contents ) {
                return $ctx->_hdlr_if( $args, $content, $ctx, $repeat, TRUE );
            } else {
                return $ctx->_hdlr_if( $args, $content, $ctx, $repeat, FALSE );
            }
        }
    } else {
        if (! isset ( $content ) ) {
            $repeat = TRUE;
        } else {
            $repeat = FALSE;
            $ctx->__stash[ 'vars' ][ '__content__' ] = $content;
            $_var_compiled = '';
            if ( is_array( $args ) ) {
                $this_tag = $ctx->this_tag();
                $this_tag = preg_replace( '/^mt/', '', $this_tag );
                foreach( $args as $key => $value ) {
                    $ctx->__stash[ 'vars' ][ "${this_tag}.${key}" ] = $value;
                }
            }
            $text = file_get_contents( $tmpl );
            if (! $ctx->_compile_source( 'evaluated template', $text, $_var_compiled ) ) {
                return $ctx->error( "Error compiling text '$text'" );
            }
            ob_start();
            $ctx->_eval( '?>' . $_var_compiled );
            $_contents = ob_get_contents();
            ob_end_clean();
            return $_contents;
        }
    }</mt:if>